@import "variables";

*   {
    margin: 0;
    padding: 0;
}

.grid {
    &__container{
        display: grid;
        border: 1px solid rgb(138, 186, 228) ;
        grid-template-areas:"uno tres cinco"
                            "dos cuatro seis";
    &__container-dos{
        display: grid;
        border: 1px solid rgb(138, 186, 228);
        grid-template-areas:"uno dos tres"
                            "cuatro cinco seis";
        gap: 2rem;
    }
}
}

.header{
    &{
    padding: 1rem;
    margin: 2px;
    border: 2px solid black;
    background-color: rgb(138, 186, 228);}
    &__navegacion {
        background-color:rgb(138, 186, 228);
    }
    & li:hover {
        background-color: rgb(138, 186, 228);
    }
}

.titulos{
    &__pad{
        padding: 1rem;
    }
    &__centrar{
        text-align: center;
    }
    &__color{
        color: white;
    }
    &{
        text-align: center;
    }
}


.div{
    div { 
        background-color: rgb(138, 186, 228); 
    }
    .div__imagenes{
        display: flex;
        flex-direction: row;
    }
}

.ul__display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:rgb(138, 186, 228);
    list-style-type: none;
    text-align: center;
    gap: 300px;
    
}

.portada{
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/horno.jpg);
    height: 23rem;
    justify-content: center;
    align-items: center;
    background-position: center;

}


.li{
    li{
        padding: 1rem;
        background-color: rgb(138, 186, 228);
        list-style: none;
    }
    &__display{
    display: inline;
}
}


menu{
    &__muzza{
        padding: 1rem;
        height: 25rem;
        width: 25rem;
        
    }
    &__calabresa{
        padding: 1rem;
        height: 25rem;
        width: 31rem;
    }
    &__especial{
        padding: 1rem;
        height: 25rem;
        width: 31rem;
    }
    &__muzza2{
        padding: 1rem;
        height: 500px;
        width: 500px;
        
    }
    &__calabresa2{
        padding: 1rem;
        height: 500px;
        width: 500px;
    }
    &__especial2{
        padding: 30px;
        height: 500px;
        width: 500px;
    }
}


.boton{
    &__comprar{
        border: 1px solid black;
        margin: 50px;
        background-color: white;
        text-align: center;
    }
    &__comprar2{
        border: 1px solid black;
        margin: 0px;
        background-color: white;
        text-align: center;
    }
}

.combo{
    &__muzzas1{
        width: 25rem;
        height: 18rem;
    }
}

.empanadas{
    &__jyq{
        width: 30rem;
        height: 30rem;
        padding: 2rem;
    }
    &__c{
        width: 30rem;
        height: 30rem;
        padding: 2rem;
    }
    &__p{
        width: 30rem;
        height: 30rem;
        padding: 2rem;
    }
    
}

.grid{
    &__items{
        border: 5px solid rgb(138, 186, 228);
    }
    &__uno{
        grid-area: uno;
    }
    &__dos{
        grid-area: dos;
    }
    &__tres{
        grid-area: tres;
    }
    &__cuatro{
        grid-area: cuatro;
    }
    &__cinco{
        grid-area: cinco;
    }
    &__seis{
        grid-area: seis;
    }
}

.recurso{
    width: 20vw;
}


.bg__blue{
    background-color:rgb(138, 186, 228)  ;
}

body {
    background-color: rgb(138, 186, 228);
}

.p__line{
    display: flex;

}

button { color: rgb(0, 0, 0);
    background-color: rgb(228, 231, 185);
}


.textos__pad{
    padding: 1rem;
}


a {
    text-decoration: none;
    color: black;
}


@media (min-width: 320px) and (max-width: 540px) {

    .grid__container{
    grid-template-areas:"uno"
                        "dos"
                        "tres"
                        "cuatro"
                        "cinco"
                        "seis";
}

    .portada{
        display: flex;
        flex-direction: column;
        background-image: url(../recursos/horno.jpg);
        height: 20rem;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .ul__display{
        flex-direction: column;
    }


    .menu{
        &__muzza{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    
        &__calabresa{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    
        &__especial{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    }

    .grid__container-dos{
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }

.empanadas{
    
    &__jyq{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__c{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__p{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }

}

.combo{
    &__muzzas1{
        width: 20rem;
        height: 13rem;      
    }
}

    
    .iframe__src{
        width: 20rem;
        height: 20rem;
    }
}
@media (min-width: 541px) and (max-width: 720px) {

.grid{
    &__container{
        grid-template-areas:"uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
    
    &__container-dos{
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
}

    .menu{
        &__muzza{
            padding: 1rem;
            height: 20rem;
            width: 20rem;
        }
    
        &__calabresa{
            padding: 1rem;
            height: 20rem;
            width: 20rem;
        }
    
        &__especial{
        padding: 1rem;
        height: 20rem;
        width: 20rem;
        }
        &__muzza2{
            padding: 1rem;
            height: 17rem;
            width: 17em;
        }
    
        &__calabresa2{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    
        &__especial2{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    }

.empanadas{
    &__jyq{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__c{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__p{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
}

.combo{
    &__muzzas1{
        width: 20rem;
        height: 13rem;
    }
}

    
    .iframe__src{
        width: 20rem;
        height: 20rem;
    }
}

.img__footer{
    height: 60px;
}

a:visited{
    color: blueviolet;
}

.header li:hover {
    background-color: rgb(138, 186, 228);
}

$comidas: (
    key1: combo1, key2: combo2 , key3: combo3);

@each $key,$combo in $comidas {
    .#{$key}-card{
        background-image: url(../recursos/#{$combo}.jpg);
        height: 15rem;
        width: 35rem;
    }
}

