@import "variables";

*   {
    margin: 0;
    padding: 0;
}

.grid__conteiner {
    display: grid;
    border: 1px solid rgb(138, 186, 228) ;
    grid-template-areas:"uno tres cinco"
                        "dos cuatro seis";
                        .boton__comprar{
                            border: 1px solid black;
                            margin: 50px;
                            background-color: white;
                            text-align: center;}
                        .grid__items{
                            border: 5px solid rgb(138, 186, 228);}
                            .grid__uno{
                                grid-area: uno;                                        
                                .menu__muzza{
                                    padding: 1rem;
                                    height: 25rem;
                                    width: 25rem;}
                                }
                                .grid__dos{
                                    grid-area: dos;                        
                                    .boton__comprar{
                                        border: 1px solid black;
                                        margin: 50px;
                                        background-color: white;
                                        text-align: center;}}
                                .grid__tres{
                                    grid-area: tres;                                        
                                    .menu__calabresa{
                                        padding: 1rem;
                                        height: 25rem;
                                        width: 31rem;}
                                    }
                                    .grid__cuatro{
                                        grid-area: cuatro;                        
                                        .boton__comprar{
                                            border: 1px solid black;
                                            margin: 50px;
                                            background-color: white;
                                            text-align: center;}}
                                    .grid__cinco{
                                        grid-area: cinco;                                        
                                        .menu__especial{
                                            padding: 1rem;
                                            height: 25rem;
                                            width: 31rem;}
                                        }
                                        .grid__seis{
                                            grid-area: seis;                        
                                            .boton__comprar{
                                                border: 1px solid black;
                                                margin: 50px;
                                                background-color: white;
                                                text-align: center;}}
}

                                        .menu__muzza{
                                            padding: 1rem;
                                            height: 25rem;
                                            width: 25rem;}
                                        .menu__calabresa{
                                            padding: 1rem;
                                            height: 25rem;
                                            width: 31rem;}
                                        .menu__especial{
                                            padding: 1rem;
                                            height: 25rem;
                                            width: 31rem;}



.header{
    &{
    padding: 1rem;
    margin: 2px;
    border: 2px solid black;
    background-color: rgb(138, 186, 228);}
    .header__navegacion {
        background-color:rgb(138, 186, 228);
    }
}

    .titulos__centrar{
        text-align: center;
    }
    .titulos__color{
        color: white;
    }
    .titulos{
        text-align: center;
    }

h2{
    .titulos__pad{
        padding: 1rem;
    }
    
}

.div{
    div { 
        background-color: rgb(138, 186, 228); 
    }
    .div__imagenes{
        display: flex;
        flex-direction: row;
    }
}

.ul__display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:rgb(138, 186, 228);
    list-style-type: none;
    text-align: center;
    gap: 300px;
    
}

.portada{
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/horno.jpg);
    height: 23rem;
    justify-content: center;
    align-items: center;
    background-position: center;

}


.li{
    li{
        padding: 1rem;
        background-color: rgb(138, 186, 228);
        list-style: none;
    }
    &__display{
    display: inline;
}
}





.boton{
    &__comprar2{
        border: 1px solid black;
        margin: 0px;
        background-color: white;
        text-align: center;
    }
}

.combo{
    &__muzzas1{
        width: 25rem;
        height: 18rem;
    }
}


.grid__items{
        border: 5px solid rgb(138, 186, 228);


}

.grid__container-dos{
    display: grid;
    border: 1px solid rgb(138, 186, 228);
    grid-template-areas:"uno dos tres"
                        "cuatro cinco seis";
    gap: 2rem;
    .grid__uno1{
        grid-area: uno;
        .menu__muzza{
            padding: 1rem;
            height: 25rem;
            width: 25rem;
        }
    }
    
    .grid__dos2{
        grid-area: dos;
        .menu__especial{
            padding: 1rem;
            height: 25rem;
            width: 31rem;
        }
    }
    
    
    .grid__tres3{
        grid-area: tres; 
            .menu__calabresa{
                padding: 1rem;
                height: 25rem;
                width: 31rem;
        }
    }
    
    
    .grid__cuatro4{
        grid-area: cuatro;
        .empanadas__jyq{
            width: 30rem;
            height: 30rem;
            padding: 2rem;
        }
    }
    
    .grid__cinco5{
        grid-area: cinco;
        .empanadas__c  {
            width: 30rem;
            height: 30rem;
            padding: 2rem;
        }
    }
    
    .grid__seis6{
        grid-area: seis;
        .empanadas__p { 
            width: 30rem;
            height: 30rem;
            padding: 2rem;
        }
    }
    h2{
        .titulos__grid{
            margin: 20rem;
        }
    }
}



.recurso{
    width: 20vw;
}


.bg__blue{
    background-color:rgb(138, 186, 228)  ;
}

body {
    background-color: rgb(138, 186, 228);
}

.p__line{
    display: flex;
.textos__pad{
    padding: 1rem;
}
}

button { color: rgb(0, 0, 0);
    background-color: rgb(228, 231, 185);
}


a {
    text-decoration: none;
    color: black;
}


@media (min-width: 320px) and (max-width: 540px) {

    .grid__container{
    grid-template-areas:"uno"
                        "dos"
                        "tres"
                        "cuatro"
                        "cinco"
                        "seis";
}

    .portada{
        display: flex;
        flex-direction: column;
        background-image: url(../recursos/horno.jpg);
        height: 20rem;
        justify-content: center;
        align-items: center;
        background-position: center;
    }

    .ul__display{
        flex-direction: column;
    }


    .menu{
        &__muzza{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    
        &__calabresa{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    
        &__especial{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    }

    .grid__container-dos{
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }

.empanadas{
    
    &__jyq{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__c{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__p{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }

}

.combo{
    &__muzzas1{
        width: 20rem;
        height: 13rem;      
    }
}

    
    .iframe__src{
        width: 20rem;
        height: 20rem;
    }
}
@media (min-width: 541px) and (max-width: 720px) {

.grid{
    &__container{
        grid-template-areas:"uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
    
    &__container-dos{
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
}

    .menu{
        &__muzza{
            padding: 1rem;
            height: 20rem;
            width: 20rem;
        }
    
        &__calabresa{
            padding: 1rem;
            height: 20rem;
            width: 20rem;
        }
    
        &__especial{
        padding: 1rem;
        height: 20rem;
        width: 20rem;
        }
        &__muzza2{
            padding: 1rem;
            height: 17rem;
            width: 17em;
        }
    
        &__calabresa2{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    
        &__especial2{
            padding: 1rem;
            height: 17rem;
            width: 17rem;
        }
    }

.empanadas{
    &__jyq{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__c{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
    
    &__p{
        width: 17rem;
        height: 17rem;
        padding: 1rem;
    }
}

.combo{
    &__muzzas1{
        width: 20rem;
        height: 13rem;
    }
}

    
    .iframe__src{
        width: 20rem;
        height: 20rem;
    }
}

.img__footer{
    height: 60px;
}

a:visited{
    color: blueviolet;
}

.header li:hover {
    background-color: rgb(120, 190, 240);
}

$comidas: (
    key1: combo1, key2: combo2 , key3: combo3);

@each $key,$combo in $comidas {
    .#{$key}-card{
        background-image: url(../recursos/#{$combo}.jpg);
        height: 15rem;
        width: 35rem;
    }
}

.header li:hover {
    background-color: rgb(120, 190, 240);
}

